<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form Example</title>
</head>
<body>
<h1>Submit Form</h1>

<form action="#" th:action="@{/model-vttribute/1}" th:object="${person}" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" th:field="*{name}" />
    </div>
    <div>
        <label for="age">Age:</label>
        <input type="text" id="age" th:field="*{age}" />
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>

</body>
</html>